<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Maker - GraphQL API</title>
  <meta name="description" content="GraphQL endpoints for the MakerDAO API">
  <meta name="author" content="MakerDAO">
</head>

<body>
  <h1>MakerDAO</h1>
  <p>GraphQL endpoints for the Maker API:</p>
  <ul>
    <li>
      Documentation <a href="https://developer.makerdao.com/dai/1/graphql">developer.makerdao.com/dai/1/graphql</a>
    </li>
    <li>
      GraphQL IDE <a href="https://graphql.makerdao.com/v1/console">graphql.makerdao.com/v1/console</a>
    </li>
    <li>
      Dai 1.0 endpoint <a href="https://graphql.makerdao.com/v1">graphql.makerdao.com/v1</a>
    </li>
  </ul>
</body>
</html>
